@charset "UTF-8";

html {
  font-size: 16px;
  font-kerning: normal;
  scroll-behavior:smooth;
}

.content {
  padding-top: 2rem;
}

/* main */

/* feature */
#feature {
  padding-top: 6rem;
}

#feature .content {
  padding-left: 10%;
  padding-right: 10%;
}

#feature .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#feature .text {
  margin: 3%;
  /* text-align: center; */
}

#feature img {
  width: 100%;
}


/* download */
#download {
  text-align: center;
}


/* footer */
footer{
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: rgba(232, 232, 232, 0.3);
}


@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  /* feature */
  #feature .detail {
    grid-template-columns: 1fr;
  }

}
