@charset "UTF-8";

html {
  font-size: 16px;
  font-kerning: normal;
}

body {
  font-family: 'Questrial', sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.content {
  padding-top: 2rem;
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
}

.pc-none {
  display: none;
}


/* header */
header {
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  background: #000;
  z-index: 9;

  nav ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.1rem;

    li {
      list-style: none;
      margin-right: 2rem;

      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

/* footer */
footer{
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: rgba(232, 232, 232, 0.3);

  ul {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      margin-right: 2rem;

      a {
        text-decoration: none;
        font-size: 0.8rem;
      }
    }
  }
}

/*
index
*/

// firstView
#firstView {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .js-name {
    display: block;
    color: #fff;
    animation-duration: 1.5s;

    h1 {
      font-size: 10rem;
    }
  }
}

// about
#about {
  padding-top: 6rem;

  .content {
    grid-template-columns: 1fr 1fr;
  }

  #myImage {
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
  }

  #profile {
    text-align: left;

    p {
      line-height: 200%;
    }

    #hobby {
      margin-top: 0.5rem;
      li {
        list-style: none;
      }
    }

    #skill {
      margin-top: 0.5rem;
      li {
        list-style: none;
      }
    }
  }

  #link {
    padding-top: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    text-align: center;

    a {
      margin: 2rem;
    }
  }
}


// works
#works {
  padding-top: 6rem;
  background: rgba(232, 232, 232, 0.3);

  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .list {
    margin: 3%;
    text-align: center;
  }

  img {
    width: 100%;
  }
}


/* contact */
#contact {
  padding-top: 6rem;
  text-align: center;
}

/*
swiftevent
*/

// aboutSwiftevent
#aboutSwiftevent {
  text-align: center;

  .announcement {
    padding-top: 2rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  img {
    width: 70%;
  }

  b {
    font-size: 1.5rem;
    color: blue;
  }
}

// feature
#feature {
  padding-top: 6rem;

  h2 {
    text-align: center;
  }

  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }

  h3 {
    padding: 1rem;
    background: #b0e0e6;
    text-align: center;
  }

  .detail {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text {
    margin: 3%;
  }

  img {
    width: 100%;
  }
}


// download
#download {
  text-align: center;
}



@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  .pc-none {
    display: block;
  }

/* about */
  #about {
    h2 {
      font-size: 1.75rem;
    }

    .content {
      grid-template-columns: 1fr;
    }

    #profile {
      margin-top: 1.5rem;
    }

    #link a {
      margin: 0.5rem;
    }
  }


  /* works */
  #works .content {
    grid-template-columns: 1fr;
  }

/*
swiftevent
*/
  // aboutSwiftevent
  #aboutSwiftevent {
    text-align: left;

    img {
      width: 100%;
    }
  }

  // feature
  #feature {
    h3 {
      font-size: 1rem;
    }

    .detail {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 960px) {
  #firstView .js-name h1 {
    font-size: 5rem;
  }
}
